<!DOCTYPE html>
<html>
<head>
    <title>Chart to PDF</title>
    <script src='https://cdn.jsdelivr.net/npm/chart.js'></script>
    <style>
        canvas {
            height: 200px !important;
            width: 200px !important;
        }
    </style>
</head>
<body>
    <canvas id='myChart' width='10' height='10'></canvas>

    <script>
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: 'Sample Chart',
                    data: [12, 19, 3, 5, 2, 3],
                    backgroundColor: 'rgba(75, 192, 192, 0.2)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                },
                animation: false,
            }
        });
    </script>
</body>
</html>